* **********************************************************************   */
/* Universal styles                                                         */
/* **********************************************************************   */                  
body{
   margin: 0;
   padding: 0;
   background-color: #ffffff;
   font-family:'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 400;
   color: #363636; 
}

p{
    line-height: 200%;
}

a{
   text-decoration: none;
    color: deepskyblue;
    
}

/* **********************************************************************   */
/*   Menu                                                                   */
/* **********************************************************************   */


 #menu{
     background-color: #16a085;
     height: 100px;
}

 #menu ul{
     margin: 0;
     padding: 0;
     list-style-type: none;
     text-align: center;
}

 #menu li{
    display: inline-block;
}
 #menu a{
    letter-spacing:1px; 
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 100px;
    color: #ffffff;
    
    padding:0 40px;
    border: none;
    display:block;
}

 #menu a:hover{
    background-color:#1abc9c; 
} 


/* **********************************************************************   */
/* Header                                                                   */
/* **********************************************************************   */
 #header{
    padding: 60px 0px 40px 0;
    background-color: white;
    text-align: center;
}

img[Attributes Style] {
    width: 400px;
    height: 300px;
}


#header h1{
    letter-spacing: 0.1em;
    font-size: 44px;
    color: black;
}

 #header p{
    letter-spacing: 0.1em;
    color:black;
}

* **********************************************************************    */ 
/* Cotainer                                                                 */
/* **********************************************************************   */

#container{
    padding: 1px;
    margin: 1px;
    width: 50%;
}
    
/* **********************************************************************   */
/* Banner                                                                   */
/* **********************************************************************   */    
    
 #banner{
    height: 300px;
    padding: 50px 100px 600px 400px;
}   width:0; 
    
 #banner img{
    width: 50%;
    height:300px;
    position: absolute;
    
}


/* **********************************************************************   */
/* Footer                                                                   */
/* **********************************************************************   */ 
    
#footer{
    width: 100%;
    height: 160px;
    background-color: #1e1b1a;
    padding-top: 25px;
    padding-left: 22px;
    clear: both;
    
}
#footer h2{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    
}
    
#footer p{
   color: #adadad;

}

#footer a{
    color: #adadad;
}

#box1{
    float: left;
    width: 30%;
    padding-right: 30px;
}
/* **********************************************************************   */
/* Page                                                                     */
/* **********************************************************************   */    
    
 #page{
    min-height: 100px;
    padding: 20px;
} 

 #page h2{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    color: #16a085;
}

#content{
    float: left;
    width: 70%;
}



/* List */
ul.styled{
    margin: 0;
    padding: 0;
    list-style-type:none;
    
}

/* **********************************************************************  */
 /* Copyright                                                               */
 /* **********************************************************************  */ 

 #copyright{
      width: 100%;
      height: 130px;
      text-align: center;
      background-color: #16a085;
      padding-top: 55px;
      clear: both;
}

 #copyright p{
     font-size: 12px;
     letter-spacing: 0.1em;
     text-transform: uppercase;
     color: #ffffff;
}



































